<section class="main">

    <header class="nav navbar-fixed-top">
        <i class="btn-circle pull-left" ng-click="navigate('/home')">&times;</i>
        <h1>Choose Chef</h1>
        <div class="pull-right cookies media">
            <div class="media-left media-middle">
                <img class="media-object" src="img/icon.png" />
            </div>
            <div class="media-body media-middle">
                <span>{{cookies}}</span>
            </div>
        </div>
    </header>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <a href="/movidon/web/app_dev.php/bo/messages/thread/4" class="list-item">
                <img class="li-small pull-left" src="/movidon/web/bundles/backend/img/user-1.jpg">
                <span class="list-content media-body">
                    <b class="li-title">Pasta with cheese</b>
                    <small class="li-description">
                        <img class="li-xsmall" src="img/icon.png" /> 3
                        <img class="li-xsmall ml10" src="img/icon.png" /> 30min
                    </small>
                </span>

                <div class="arrow-right">
                    <i class="fa fa-arrow-right">&gt;</i>
                </div>
            </a>
            <div id="mealsList">Loading...</div>
        </div>
    </div>

</section>