<section class="main">

    <header class="nav navbar-fixed-top">
        <span class="btn" ng-click="navigate('/home')">
            <i class="fa fa-chevron-left"></i>
            Back
        </span>
        <h1>Choose Chef</h1>
        <div class="cookies media">
            <div class="media-left media-middle">
                <img class="media-object" src="img/icon.png" />
            </div>
            <div class="media-body media-middle">
                <span>{{cookies}}</span>
            </div>
        </div>
    </header>

    <div class="row toggle-meals">
        <div class="col-md-12 col-sm-12">
            <div class="btn-group" role="group">
                <button data-list="meals" type="button" class="btn btn-default active">Meals</button>
                <button data-list="toAttend" type="button" class="btn btn-default">People</button>
                <button data-list="myMeals" type="button" class="btn btn-default">My meals</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12" ng-infinite-scroll="" ng-infinite-scroll-callback="loadMoreMeals()">
            <div ng-repeat="meal in mealsToRender track by $index" data-index="{{$index}}" class="list-item animate-repeat">
                <a href="" ng-click="goToMeal($index)">
                    <img class="li-small pull-left" src="{{meal.picture.url}}" />
                    <span class="list-content media-body">
                        <b class="li-title">{{meal.description}}</b>
                        <small class="li-description">
                            <img class="li-xsmall" src="img/icon.png" /> {{meal.cookies_value}}
                            <!-- TODO: Change i to img -->
                            <i class="fa fa-clock-o"></i> {{meal.time}}
                        </small>
                    </span>

                    <div class="arrow-right">
                        <i class="fa fa-chevron-right"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <loader></loader>

</section>