<div role="main">

	<a href="#/home">Back</a>

	<p>Photo</p>
	<b><p>Meal</p></b>
	<p>Description</p>
	<p><textarea type="text" id="description" name="description"></textarea></p>
	<p><button>Choose meal type</button><button>Cookies to spend</button></p>
	<b><p>People to come</p></b>
	<p>
		<button>1</button>
		<button>2</button>
		<button>3</button>
		<button>4</button>
		<button>5</button>
	</p>
	<b><p>Time to come</p></b>
	<p><input type="text" value="11:11" id="timeHour" name="timeHour"></input><input type="text" value="AM" id="timeSchedule" name="timeSchedule"></input></p>
	<p><button ng-click="register()">Post Meal</button></p>

</div>