<section class="main">

    <header class="nav navbar-fixed-top">
        <span class="btn"  ng-click="navigate('/home')">
            <i class="fa fa-chevron-left"></i>
            Back
        </span>
        <h1>Chef Meal</h1>
    </header>

    <div class="row meal-img">
        <div class="col-md-12">
            <div class="media">
                <div id="placePhoto" ng-click="takePicture()" class="media-left media-middle img-square" style="background-image: url('http://cdn.c.photoshelter.com/img-get/I0000L8FCYXwGx5E/s/850/850/IMG-6678-North-Lake-Road-Vertical-Fall-Color.jpg')">
                </div>
                <div class="media-body media-middle">
                    <span class="meal-img-help">
                        Add a picture of your situation
                    </span>
                </div>
            </div>
        </div>
    </div>

    <h2 class="title">Meal</h2>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <textarea type="text" id="description" name="description" maxlength="35" class="form-control" placeholder="What are you cooking?"></textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-md-6">
            <div class="form-group">
                <select class="form-control" id="mealType">
                    <option value="" disabled selected>Choose meal type</option>
                    <option value="everything">Everything</option>
                    <option value="vegetarian">Vegetarian</option>
                    <option value="vegan">Vegan</option>
                    <option value="other">Other</option>
                </select>
            </div>
        </div>

        <div class="col-xs-6 col-md-6">
            <div class="form-group">
                <select class="form-control" id="cookies" name="cookies">
                    <option value="" disabled selected>Cookies to spend</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
    </div>

    <h2 class="title">Number of people</h2>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <button-group config="config"></button-group>
            </div>
        </div>
    </div>

    <h2 class="title">Ready at</h2>

    <div class="row">
        <div class="col-xs-4 col-md-4">
            <div class="form-group">
                <input type="text" id="timeHour" name="timeHour" class="form-control" placeholder="11:11" />
            </div>
        </div>

        <div class="col-xs-4 col-md-4">
            <div class="form-group">
                <select class="form-control" id="timeSchedule">
                    <option value="am" selected>AM</option>
                    <option value="pm">PM</option>
                </select>
            </div>
        </div>

        <div class="col-xs-4 col-md-4">
            <div class="form-group">
                <select class="form-control" id="day">
                    <option value="today" selected>Today</option>
                    <option value="tomorrow">Tomorrow</option>
                </select>
            </div>
        </div>
    </div>

    <div class="text-center mt20">
        <button ng-click="sendMeal()" class="btn btn-round mb20">Post Meal</button>
    </div>

    <alert id="meal-created-alert" config="mealConfig"></alert>

    <loader></loader>

</section>