<section class="main">

    <header class="nav navbar-fixed-top">
        <span class="btn"  ng-click="navigate('/home')">
            <i class="fa fa-chevron-left"></i>
            Back
        </span>
        <h1>Profile</h1>
    </header>

    <div class="row profile-img mt20">
        <div class="col-md-12">
            <div class="media">
                <div class="media-left media-middle">
                    <div id="profilePhoto" ng-click="!isEditModeEnable || changePhoto()" class="media-left media-middle img-square" style="background: #F1C40F url('img/camera.png') no-repeat 50% 50%;"></div>
                </div>
                <div class="media-body media-middle">
                    <div class="media">
                        <div class="media-left media-middle">
                            <img class="media-object img-small" src="img/icon.png" />
                        </div>
                        <div class="media-body media-middle">
                            <b>{{currentUser.cookies}}</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt20">
        <div class="col-md-12">
            <section class="y-block">
                <div class="y-block-header">
                    <h2 class="title">My account</h2>
                    <a href="" ng-click="toggleEditMode()" class="pull-right account-edit-btn">Edit</a>
                </div>

                <div class="y-block-content account-details">
                    <p>
                        Name: {{currentUser.first_name}}
                    </p>

                    <p>
                        Phone Number: {{currentUser.phone}}
                    </p>

                    <p>
                        Email: {{currentUser.email}}
                    </p>

                    <p>
                        University: {{university.name}}
                    </p>

                    <p>
                        Room Number: {{currentUser.room_number || 0}}
                    </p>
                </div>

                <div class="y-block-content account-edition hidden">
                    <form id="account-form" name="accountForm">
                        <!--<div class="form-group">
                            <input class="form-control" type="text" name="username" placeholder="Your username" ng-model="user.username" required />
                            <span class="error" ng-if="accountForm.$submitted && accountForm.username.$error.required">Your username is required</span>
                        </div>-->
                        <div class="form-group">
                            <input class="form-control" type="text" name="first_name" placeholder="Your name" ng-model="user.first_name" required />
                            <span class="error" ng-if="accountForm.$submitted && accountForm.first_name.$error.required">Your name is required</span>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" pattern="\d+" placeholder="Your phone number" name="phone" ng-model="user.phone" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Your room number" name="room_number" ng-model="user.room_number" />
                        </div>
                        <!--<div class="form-group">
                            <input class="form-control" type="email" name="email" ng-model="user.email" required />
                            <span class="error" ng-if="accountForm.$submitted && accountForm.name.$error.required">Your email is required</span>
                        </div>-->

                        <div class="form-group">
                            <button ng-click="saveProfile()" class="btn btn-round btn-extra-large">Save</button>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>

    <div class="row mt20">
        <div class="col-md-12">
            <section class="y-block">
                <div class="y-block-header">
                    <h2 class="title">Account Actions</h2>
                </div>

                <div class="y-block-content">
                    <p><a ng-click="navigate('/settings')">About Sharood</a></p>
                    <p><a ng-click="logout();">Log out</a></p>
                </div>
            </section>
        </div>
    </div>

    <!--<div class="row mt20">
        <div class="col-md-12">
            <a ng-click="deleteAccount()" class="btn btn-danger btn-extra-large">
                Delete account
            </a>
        </div>
    </div>-->

    <alert id="delete-account-alert" config="deleteAccountConfig"></alert>
    <alert id="logout-alert" config="logoutConfig"></alert>

</section>