<section class="register no-padding">
    <header>
        <i class="btn-circle btn fa fa-times" ng-click="navigate('/')"></i>
        <h1>Sign Up</h1>
    </header>
    <div class="register-form">
        <div>
            <div class="form-group">
                <input id="name" class="form-control" type="text" name="name" placeholder="Name" />
            </div>
            <div class="form-group">
                <input id="email" class="form-control" type="text" name="email" placeholder="Email" />
            </div>
            <div class="form-group">
                <input id="password" class="form-control" type="password" name="password" placeholder="Password" />
            </div>
            <div class="form-group">
                <input id="passwordConfirm" class="form-control" type="password" name="passwordConfirm" placeholder="Repeat password" />
            </div>
            <div class="form-group">
                <select class="form-control" id="selectPlace">
                    <option value="" disabled selected>Choose place</option>
                </select>
            </div>

            <div class="form-group">
                <button type="button" ng-click="register()" class="btn btn-round">Sign In</button>
            </div>
        </div>
    </div>

    <alert id="register-account-alert" config="registerAccountConfig"></alert>
</section>