<section class="main">

    <header class="nav navbar-fixed-top">
        <span class="btn"  ng-click="navigate('/home')">
            <i class="fa fa-chevron-left"></i>
            Back
        </span>
        <h1>Saved seat</h1>
    </header>

    <div class="row mt20">
        <div class="col-md-12">
            <section class="y-block">
                <div class="y-block-content text-center">
                    <h4>Great! Now you can go to {{meal.owner[0].first_name}}'s at {{meal.time | date: 'dd/MM - HH:mm'}} h</h4>
                </div>
            </section>
        </div>
    </div>

    <div class="row mt20 text-center font-big">
        <div class="col-md-12">
            <a href="" ng-click="navigate('/viewMeal/onlyInfo')">See {{meal.owner[0].first_name}}'s Meal</a>
        </div>
    </div>

    <div class="row mt20 text-center font-big">
        <div class="col-md-12">
            <a ng-click="contactChef()">Contact Chef for directions</a>
        </div>
    </div>

    <section class="bottom">
        <div class="row mt20 mb20">
            <div class="col-md-12">
                <p class="text-center">Back from the meal?</p>
                <p class="text-center">Rate Chef to choose another meal!</p>
                <a ng-click="navigate('/rateChef')" class="btn btn-round btn-extra-large">
                    Rate Chef
                </a>
            </div>
        </div>

        <!--
        <div class="row mt20 mb20 text-center">
            <div class="col-md-12">
                <a ng-click="cancel()" href="">
                    Cancel meal
                </a>
            </div>
        </div>
        -->
    </section>
</section>