<section class="main settings">

    <header class="nav navbar-fixed-top">
        <span class="btn"  ng-click="navigate('/home')">
            <i class="fa fa-chevron-left"></i>
            Back
        </span>
        <h1>Settings</h1>
    </header>

    <div class="row mt20">
        <div class="col-md-12">
            <!--
            <a href="">
                Send us Feedback
            </a>
            -->
            <a href="https://www.facebook.com/SharoodApp" target="_blank">
                Like Us on Faceook
            </a>

            <a href="https://twitter.com/sharoodapp" target="_blank">
                Follow Us on Twitter
            </a>

            <a href="https://sharoodapp.wordpress.com/privacy-policy/" target="_blank">
                Privacy Policy
            </a>
        </div>
    </div>

</section>