<section class="main">

    <header class="nav navbar-fixed-top">
        <span class="btn" ng-click="navigate('/meals')">
            <i class="fa fa-chevron-left"></i>
            Back
        </span>
        <h1>Axel's Meal</h1>
    </header>

    <div class="row mb20">
        <div class="col-md-12 text-center">
            <h1 class="title mb20">{{meal.description}}</h1>
            
            <div class="col-md-12 viewMeal-img">
                <img src="{{meal.picture.url}}" />
            </div>
        </div>
    </div>

    <div class="row meal-info mb20">
        <div class="col-md-4 col-sm-4 col-xs-4 text-center">
            <img class="img-small" src="img/icon.png" />

            <span>{{getSeats()}}</span>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-4 text-center">
            <img class="img-small" src="img/icon.png" />

            <span>{{meal.cookies_value}} cookies</span>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-4 text-center">
            <img class="img-small" src="img/icon.png" />

            <span>{{meal.type}}</span>
        </div>
    </div>

    <div class="row mb20">
        <div class="col-md-12 text-center">
            <div id="placePhoto" class="img-square img-square-sm" style="background-image: url('{{meal.owner[0].picture.url}}')"></div>
        </div>
    </div>

    <div class="row mb20 score">
        <div class="col-md-12">
            <dl class="dl-horizontal">
                <dt>
                    Food
                </dt>
                <dd>
                    <stars config="foodConfig"></stars>
                </dd>
            </dl>

            <dl class="dl-horizontal">
                <dt>
                    Friendliness
                </dt>
                <dd>
                    <stars config="friendlinessConfig"></stars>
                </dd>
            </dl>

            <dl class="dl-horizontal">
                <dt>
                    Fun
                </dt>
                <dd>
                    <stars config="funConfig"></stars>
                </dd>
            </dl>
        </div>
    </div>

    <div class="text-center mb20">
        <a href="" class="btn btn-round" ng-click="saveSeat()">Save a seat!</a>
    </div>

</section>