<div class="material-alert">
    <div ng-if="config.icon" class="material-alert-warning">
        <span class="ma-warning-long line"></span>
        <span class="ma-warning-dot line"></span>
    </div>
    <h2>{{config.title}}</h2>
    <p>
        {{config.subtitle}}
    </p>
    <button ng-if="config.cancel" id="{{config.cancel.id}}" ng-click="config.cancel.callback()" data-close="#{{config.id}}" class="btn btn-default">{{config.cancel.text}}</button>
    <button ng-if="config.ok" id="{{config.ok.id}}" ng-click="config.ok.callback()" data-close="#{{config.id}}" class="btn {{config.ok.cssClass}}">{{config.ok.text}}</button>
</div>