html, body {
    height: 100%;
    background-color: #FEFCF5;
}

* {
    color: #693204;
}

a, a:active, a:focus, a:hover {
    color: #693204;
}

/** GENERAL **/
.title {
    font-size: 2rem;
    margin-bottom: 0;
}

.font-big {
    font-size: 2.2rem;
}

textarea {
    resize: none;
}

.mt20 {
    margin-top: 2rem;
}

.mb20 {
    margin-bottom: 2rem;
}

.mb40 {
    margin-bottom: 4rem;
}

.ml10 {
    margin-left: 1rem;
}

.p15 {
    padding: 0 1.5rem;
}

.img-small {
    max-width: 4rem;
}

.img-square {
    width: 14rem;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 50%;
    background-color: #F1C40F;
}

.circle-word {
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    background-color: #F1C40F;
    line-height: 14rem;
    font-size: 4.8rem;
    display: block;
    margin: auto;
}

.cover {
    -webkit-background-size: cover;
    background-size: cover;
}

.img-square:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.img-square-sm {
    width: 10rem;
    margin: auto;
}

.hidden {
    display: none;
}

/** LOGIN AND REGISTER VIEWS **/
.login {
    background: url('../img/loginBackground_scaled.jpg') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.login, .register {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
}

.login-form, .register-form {
    display: table-cell;
    vertical-align: middle;
    padding: 0 1.5rem;
}

.register-form {
    padding-top: 8rem;
}

.register-form .img-square {
    margin: 0 auto 2rem;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #693204;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #693204;
    opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #693204;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #693204;
}

.form-group {
    margin-bottom: 0.7rem;
}

.form-group:last-child {
    margin-top: 1.5rem;
}

.form-control {
    border: none;
    box-shadow: none;
    border-radius: 0;
    background-color: rgba(249, 231, 159, 0.6);
    color: #693204;
    min-height: 34px;
}

.form-control:active, .form-control:focus {
    border: none;
    box-shadow: none;
}

.btn-round {
    border-radius: 50rem;
    min-width: 27rem;
    font-size: 2.2rem;
    font-weight: bold;
    color: #693204;
    background-color: #F1C40F;
}

.login header.brand {
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: auto;
}

.login .brand img {
    display: inline-block;
    max-width: 6rem;
}

.login .brand h1 {
    display: inline-block;
    margin: 0;
    font-size: 5rem;
    font-weight: bold;
}

.sign-up {
    position: absolute;
    left: 0;
    bottom: 4rem;
    width: 100%;
}

.sign-up > p {
    font-size: 2.3rem;
    margin-bottom: 4rem;
}

.sign-up .sign-up-btn {
    font-size: 2.2rem;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    color: #693204;
}

.sign-up .sign-up-btn:hover, .sign-up .sign-up-btn:active, .sign-up .sign-up-btn:focus {
    color: #F1C40F;
}

/** HEADER **/
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 3rem;
}

header .media-body {
    width: auto;
}

header .btn {
    position: absolute;
    left: 1rem;
    padding: 0;
    min-width: 4rem;
    height: 4rem;
    display: inline-block;
    line-height: 3.6rem;
    box-sizing: border-box;
    font-size: 1.6rem;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}

header .btn-circle {
    border: solid 0.2rem #693204;
    border-radius: 50%;
}

header .btn-circle:hover, header .btn-circle:active, header .btn-circle:focus {
    color: #fff;
    background-color: #693204;
}

header h1 {
    display: inline;
    font-size: 2.6rem;
    line-height: 4rem;
}

header .media {
    margin-top: 0;
}

/** MAIN view **/

section {
    padding: 0 1.5rem;
}

section.no-padding {
    padding: 0;
}

.main header {
    background-color: #F1C40F;
    max-height: 6rem;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    padding: 1rem 2rem;
}

.main header a {
    color: #693204;
}

.main header .cookies {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.main .cookies img {
    max-height: 3rem;
    display: inline-block;
}

.main .cookies span {
    font-size: 1.6rem;
    line-height: 4rem;
}

.main {
    height: 100%;
    padding-top: 6rem;
}

.main .sa-block {
    height: 50%;
    margin: 0 -1.5rem;
    display: table;
    text-align: center;
    width: calc(100% + 3rem);
}

.main .postMeal {
    background-image: url('../img/postMeal.png');
    background-size: cover;
}

.main .mealOffer {
    background-image: url('../img/mealOffer.png');
    background-size: cover;
}

.main .sa-block .block-wrapper {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    font-size: 3rem;
    font-weight: bold;
}

.main .sa-block .block-wrapper span {
    color: #ffffff;
}

.main .fa-gear {
    font-size: 3.8rem
}

/** NEW MEAL VIEW **/
.meal-img {
    padding-top: 3rem;
    text-align: center;
}

.meal-img img {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 100%;
    max-height: 100%;
}

.meal-img .img-circle {
    display: inline-block;
}

.meal-img .meal-img-help {
    display: inline-block;
    max-width: 16rem;
    font-size: 2rem;
}

.meal-img .media {
    display: inline-block;
}

.meal-img .media-body {
    width: auto;
}

.btn-group {
    margin: auto;
    display: block;
    width: auto;
    text-align: center;
}

.btn-group .btn {
    float: none;
    display: inline-block;
    border-radius: 0.5rem !important;
    border: solid 0.1rem #F1C40F;
    margin-right: 2rem;
}

.btn-group .btn:last-child {
    margin-right: 0;
}

.btn-group .btn.active {
    background: #F1C40F;
    box-shadow: none;
}

/** PROFILE VIEW **/
.y-block {
    background-color: #F9E79F;
    padding: 1rem 2rem;
}

.y-block h2 {
    margin: 0 0 1.5rem;
    display: inline-block;
}

.y-block .form-control {
    background-color: #FEFCF5;
}

.y-block button[type="submit"] {
    width: 100%;
}

.profile-img {
    text-align: center;
}

.profile-img .media {
    display: inline-block;
}

.profile-img b {
    font-size: 2.4rem;
}

.btn-extra-large {
    width: 100%;
    padding: 1.5rem 1rem;
    font-size: 2rem;
}

/** MEALS VIEW **/
.list-view {
    position: relative;
}

.list-item {
    text-decoration: none;
    margin: 0 2rem;
    padding: 1.5rem 0;
    position: relative;
    display: block;
    transition: background-color 300ms ease 0s, opacity 300ms ease 0s;
    -webkit-transition: background-color 300ms ease 0s, opacity 300ms ease 0s;
    border-bottom: solid 0.1rem #693204;
}

.list-item i {
    font-size: 2rem;
    line-height: 2rem;
}

.list-item:hover {
    text-decoration: none;
}

.list-item .arrow-right {
    position: absolute;
    right: -2.5rem;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    font-size: 2.4rem;
}

.li-title {
    font-weight: bold;
    display: block;
    font-size: 1.3rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.4rem;
}

.li-description {
    font-size: 1.2rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    font-weight: bold;
}

.li-description img {
    margin-right: 0.3rem;
}

.li-small {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 10rem;
    margin-right: 1rem;
}

span.li-small {
    text-align: center;
    line-height: 3.4rem;
    font-size: 1.5rem;
    font-weight: normal;
    text-transform: uppercase;
}

.list-item span.li-small {
    background-color: #F1C40F;
    border-radius: 50%;
    font-weight: bold;
}

.li-xsmall {
    width: 2rem;
    height: 2rem;
    border-radius: 10rem;
    margin-right: 1rem;
}

.toggle-meals {
    padding: 2rem 0;
}

.toggle-meals .btn-group {
    margin: auto;
    display: block;
    width: auto;
    text-align: center;
}

.toggle-meals .btn-group .btn {
    float: left;
    display: block;
    border-radius: 0 !important;
    border: none;
    margin: 0;
    width: 33%;
    background-color: #693204;
    color: #F9E79F;
}

.toggle-meals .btn-group .btn:after {
    content: "";
    display: block;
    width: 0.1rem;
    height: calc(100% - 1.2rem);
    top: 0.6rem;
    right: 0;
    position: absolute;
    background-color: #F9E79F;
}

.toggle-meals .btn-group .btn:last-of-type:after {
    display: none;
}

.toggle-meals .btn-group .btn.active {
    background: #F9E79F;
    box-shadow: none;
    color: #693204;
}

/** VIEW MEAL **/
.viewMeal-img{
    height: 150px;
    width: 100%;
    background: black;
}

.viewMeal-img img {
    display: block;
    max-width: 100%;
    max-height: 150px;
    width: auto;
    height: auto;
    margin: 0 auto;
}

.meal-info span {
    display: block;
}

.score .dl-horizontal {
    height: 4rem;
}

.score .dl-horizontal dt {
    max-width: 14rem;
    float: left;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 4rem;
}

.score .dl-horizontal dd {
    margin-left: 10rem;
}

.stars {
    margin: auto;
    display: block;
    width: auto;
    text-align: center;
    height: 3.4rem;
}

.stars .btn {
    background-size: 34px;
    float: none;
    display: inline-block;
    position: relative;
    height: 34px;
    width: 34px;
    background-image: url('../img/stareditableoff.png');
}

.stars .btn:last-child {
    margin-right: 0;
}

.stars .btn.active {
    box-shadow: none;
    background-image: url('../img/stareditableon.png');
}

.stars.notEditable .btn {
    background-image: url('../img/staroff.png');
}


.stars.notEditable .btn.active {
    box-shadow: none;
    background-image: url('../img/staron.png');
}

/** SETTINGS **/
.settings a {
    text-decoration: none;
    display: block;
    color: #693204;
    font-weight: bold;
    line-height: 4rem;
    font-size: 1.8rem;
}

/** OVERLAY **/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 200;
    background-color: #F1C40F;
    text-align: center;
    transition: transform 0.3s ease 0s;
    -webkit-transition: transform 0.3s ease 0s;
}

.overlay .loader {
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.overlay.closed {
    transform: scale(0);
    -webkit-transform: scale(0);
}

.overlay i {
    font-size: 4rem;
}

/** Boostrap **/
.container {
    height: 100%;
    width: 100%;
    padding: 0;
}

.btn:focus, .btn:active {
    outline: none !important;
}

.media-body {
    width: auto;
}

/** ANIAMTIONS **/
.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity:0;
    max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
    max-height:40px;
}

/** RATE CHEF VIEW **/
.rates > div {
    margin-bottom: 4rem;
}

.rates > div:last-child {
    margin-bottom: 1rem;
}

.rates > h2 {
    margin-bottom: 2rem;
}

/** HELP CLASSES **/
.bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

/** ATTENDANTS VIEW **/
.attendants .list-item {
    border-bottom: 0;
}

.attendants .list-item a {
    display: block;
    min-height: 3.5rem;
}

.attendants .list-item .li-title {
    text-align: left;
    line-height: 3.4rem;
    display: inline;
    font-size: 1.6rem;
    font-weight: normal;
}

.rate-attendants {
    padding-bottom: 10rem;
    max-height: 37rem;
    overflow-y: auto;
}

/** VIEWPORT **/
.viewport {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9998;
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    background-position: center;
    background-repeat: no-repeat;
}

.viewport.open {
    display: block;
}

/** VALIDATION **/
.error {
    text-align: left;
    color: darkred;
    display: block;
    margin-top: 0.2rem;
}