html, body {
    height: 100%;
    background-color: #222222;
}

.login {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}

.login > div {
    display: table-cell;
    vertical-align: middle;
}

.login ::-webkit-input-placeholder { /* WebKit browsers */
    color: #909;
}

.login :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #909;
    opacity: 1;
}

.login ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #909;
    opacity: 1;
}

.login :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #909;
}

.login .form-group:first-child {
    margin-bottom: 0.7rem;
}

.login .form-control {
    border: none;
    box-shadow: none;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.6);
    color: brown;
}

.login .form-control:active, .login .form-control:focus {
    border: none;
    box-shadow: none;
}

.login .btn-round {
    border-radius: 50rem;
    min-width: 30rem;
    font-size: 2.2rem;
    font-weight: bold;
    color: saddlebrown;
    background-color: yellow;
}

/** Boostrap **/
.container {
    height: 100%;
}