html, body {
    height: 100%;
    background-color: #FEFCF5;
}

* {
    color: #693204;
}

.login {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}

.login div.row {
    display: table-cell;
    vertical-align: middle;
}

.login ::-webkit-input-placeholder { /* WebKit browsers */
    color: #693204;
}

.login :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #693204;
    opacity: 1;
}

.login ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #693204;
    opacity: 1;
}

.login :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #693204;
}

.login .form-group:first-child {
    margin-bottom: 0.7rem;
}

.login .form-control {
    border: none;
    box-shadow: none;
    border-radius: 0;
    background-color: rgba(249, 231, 159, 0.6);
    color: #693204;
}

.login .form-control:active, .login .form-control:focus {
    border: none;
    box-shadow: none;
}

.login .btn-round {
    border-radius: 50rem;
    min-width: 30rem;
    font-size: 2.2rem;
    font-weight: bold;
    color: #693204;
    background-color: #F1C40F;
}

.login .brand {
    display: table-cell;
    vertical-align: top;
}

/** Boostrap **/
.container {
    height: 100%;
}

.btn:focus, .btn:active {
    outline: none !important;
}